   .header-background {
       background: url('../images/biriyani.jpg') center / cover;
       height: 400px;
   }
   .mainContent {
       background: white;
   }
   ul {
       width: 70%;
       margin: auto;
       list-style-type: none;
       padding: 0px;
   }
   #locationDetails {
       display: block;
   }
   .learn_title {
       font-size: 40px;
       padding-top: 60px;
       padding-bottom: 60px;
       font-family: 'Gabriela', serif;
       display: inline-block;
       text-align: center;
       width: 100%;
   }
   .learn_intro {
       font-size: 20px;
       width: 90%;
       text-align: justify;
       line-height: 40px;
       font-family: Source Sans Pro;
       padding-bottom: 60px;
   }
   .demo-layout-transparent .mdl-layout__header {
       color: white;
   }
   .style_name {
       margin-top: 15%;
       font-size: 100px;
       letter-spacing: -7px;
       font-family: 'Gabriela', serif;
   }
   .styleTagline {
       margin-top: 16%;
       font-size: 25px;
       font-style: italic;
   }
   .locationSelect {
       margin-top: 15%;
       margin: auto;
       text-align: centre;
   }
   .locationArea >div {
       text-align: center;
       vertical-align: middle;
   }

   /* Desktop */
   @media only screen and (min-width: 1025px) {
       .hide_desktop {
           display: none!important;
       }
       .locationArea {
           width: 100%;
           display: inline-block;
       }
       #location {
           width: 50%;
           float: right;
       }
       #menu {
           width: 50%;
           float: left;
       }
   }

   /* Tablet */
   @media only screen and (min-width: 768px) and (max-width: 1024px) {
       .header-background {
           background: url('../images/biriyani-mobile.jpg') center / cover;
           height: 400px;
       }
       .hide_tablet {
           display: none!important;
       }
       .style_name {
           margin-top: 25%;
           font-size: 50px;
           letter-spacing: -7px;
           font-family: 'Gabriela', serif;
       }
       .styleTagline {
           margin-top: 30%;
           font-size: 25px;
           font-style: italic;
       }
       .mdl-mega-footer {
           margin-top: 50px;
       }
       .learn_title {
           width: 100%;
       }
       .learn_intro {
           font-size: 20px;
           font-family: Source Sans Pro;
           width: 90%;
           text-align: justify;
           line-height: 40px;
       }
   }

   /* Phablets */
   @media only screen and (min-width: 580px) and (max-width: 767px) {
       .header-background {
           background: url('../images/biriyani-mobile.jpg') center / cover;
           height: 400px;
       }
       .hide_mobile {
           display: none!important;
       }
       .style_name {
           margin-top: 25%;
           font-size: 50px;
           letter-spacing: -7px;
           font-family: 'Gabriela', serif;
       }
       .styleTagline {
           font-size: 15px;
           font-style: italic;
           width: 180px;
           text-align: center;
           margin-top: 18px;
       }
       .hero_title {
           padding-left: 0px;
       }
       .text_margin {
           margin-top: 25%;
       }
       .learn_title {
           width: 100%;
           font-size: 40px;
           padding-bottom: 50px;
           font-family: 'Gabriela', serif;
           display: inline-block;
           text-align: center;
       }
       .learn_intro {
           font-size: 20px;
           font-family: Source Sans Pro;
           width: 90%;
           text-align: justify;
           line-height: 40px;
       }
   }

   /* Mobile */
   @media only screen and (min-width: 381px) and (max-width: 579px) {
       .header-background {
           background: url('../images/biriyani-mobile.jpg') center / cover;
           height: 400px;
       }
       .hide_mobile {
           display: none!important;
       }
       .style_name {
           margin-top: 55%;
           font-size: 50px;
           letter-spacing: -7px;
           font-family: 'Gabriela', serif;
           width: 90%;
           text-align: center;
           line-height: 40px;
       }
       .styleTagline {
           font-size: 15px;
           font-style: italic;
           width: 180px;
           text-align: center;
           margin-top: 18px;
       }
       .hero_title {
           padding-left: 0px;
       }
       .text_margin {
           margin-top: 25%;
       }
       .learn_title {
           width: 90%;
           font-size: 40px;
           padding-bottom: 50px;
           font-family: 'Gabriela', serif;
           display: inline-block;
           text-align: center;
       }
       .learn_intro {
           font-size: 20px;
           font-family: Source Sans Pro;
           width: 90%;
           text-align: justify;
           line-height: 40px;
       }
   }

   /* Small Mobile Screens */
   @media only screen and (min-width: 280px) and (max-width: 380px) {
       .header-background {
           background: url('../images/biriyani-mobile.jpg') center / cover;
           height: 400px;
       }
       .hide_mobile {
           display: none!important;
       }
       .style_name {
           margin-top: 55%;
           font-size: 50px;
           letter-spacing: -7px;
           font-family: 'Gabriela', serif;
           width: 90%;
           text-align: center;
           line-height: 40px;
       }
       .styleTagline {
           font-size: 15px;
           font-style: italic;
           width: 180px;
           text-align: center;
           margin-top: 18px;
       }
       .hero_title {
           padding-left: 0px;
       }
       .text_margin {
           margin-top: 25%;
       }
       .learn_title {
           width: 90%;
           font-size: 35px;
           padding-bottom: 50px;
           font-family: 'Gabriela', serif;
           display: inline-block;
           text-align: center;
       }
       .learn_intro {
           font-size: 20px;
           font-family: Source Sans Pro;
           width: 90%;
           text-align: justify;
           line-height: 40px;
       }
   }